[submodule "bundle/vim-polyglot"]
	path = bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/markdown-preview"]
	path = bundle/markdown-preview
	url = https://github.com/iamcco/markdown-preview.nvim.git
[submodule "bundle/vim-gutentags"]
	path = bundle/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "bundle/vim-refactor"]
	path = bundle/vim-refactor
	url = https://github.com/LucHermitte/vim-refactor.git
[submodule "bundle/plantuml-syntax"]
	path = bundle/plantuml-syntax
	url = https://github.com/aklt/plantuml-syntax
[submodule "bundle/open-browser.vim"]
	path = bundle/open-browser.vim
	url = https://github.com/tyru/open-browser.vim.git
[submodule "bundle/plantuml-previewer.vim"]
	path = bundle/plantuml-previewer.vim
	url = https://github.com/weirongxu/plantuml-previewer.vim.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate
[submodule "bundle/vim-lsc"]
	path = bundle/vim-lsc
	url = https://github.com/natebosch/vim-lsc.git
[submodule "bundle/vim-lsc-dart"]
	path = bundle/vim-lsc-dart
	url = https://github.com/natebosch/vim-lsc-dart.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/telescope.nvim.git"]
	path = bundle/telescope.nvim.git
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "bundle/plenary"]
	path = bundle/plenary
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "bundle/nvim-treesitter"]
	path = bundle/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "bundle/go.nvim"]
	path = bundle/go.nvim
	url = https://github.com/ray-x/go.nvim.git
[submodule "bundle/nvim-lspconfig"]
	path = bundle/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "bundle/coc.nvim"]
	path = bundle/coc.nvim
	url = git@github.com:neoclide/coc.nvim.git
